# Python
__pycache__/
*.pyc

# Virtual Environment (NEVER COMMIT)
venv/
.venv/
.env/

# Model files (too large)
*.h5

# OS junk
.DS_Store
data/

# Temporary uploads / artifacts
temp_*.jpg

# Local database files
instance/*.db
